---
layout: default
---

<div class="home">
    {% for post in site.posts %}
    <article>
      <header>
        <h4>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h4>
        <span class="fui-calendar"></span>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <br>

        <span class="fui-tag">
        {% for tag in post.tags %}
        <span class="label label-default">{{ tag }}</span>
        {% endfor %}
      </span>
      </header>
      <hr>
      <div>
          {{ post.excerpt }}
        <a href="{{ post.url | prepend: site.baseurl }}">
          ...more<span class="fui-arrow-right"></span>
        </a>
      </div>
    </article>
    {% endfor %}
</div>
