---
layout: default
---
<div class="post">
  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">
      <span class="fui-calendar"></span>
      <span>{{ page.date | date: "%b %-d, %Y" }}</span>
        {% if page.author %}
      • {{ page.author }}{% endif %}{% if page.meta %}
      • {{ page.meta }}{% endif %}<br>
      <span class="fui-tag">
      {% for tag in page.tags %}
      <span class="label label-default">{{ tag }}</span>
      {% endfor %}
    </span>
    </p>

  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <div class="post-footer">
    {% if page.previous %}
    <span class="pull-left">
      <a href="{{ page.previous.url | prepend: site.baseurl }}">
        <span class="fui-arrow-left"></span>{{page.previous.title}}
      </a>
    </span>
    {% endif %}
    {% if page.next %}
        <span class="pull-right">
      <a href="{{ page.next.url | prepend: site.baseurl }}">
        {{page.next.title}}<span class="fui-arrow-right"></span>
      </a>
    </span>
    {% endif %}
    <div class="clearfix"></div>
  </div>
  <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'wasted-laboratory';
    var disqus_identifier = '{{ page.title }}';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
